/*#region Colours*/

// Primary
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

// Secondary
$red: hsl(0, 87%, 67%);

// Neutral
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

/*#endregion*/

/*#region Defaults*/

* {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: rgba($cyan, 0.8);
  border-radius: 20px;
  color: #fff;
  border: none;
  outline: none;  
  padding: 10px 30px;
  font-weight: 800;

  &:hover {
    background-color: $cyan;
  }
}

a {
  cursor: pointer;
  font-weight: 800;
  color: $grayish-violet;

  &:hover {
    color: $very-dark-violet;
  }
}

/*#endregion*/

@import './App.scss';