.linkShortenContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .linkShorten {
        background-image: url('../images/bg-shorten-desktop.svg');
        display: flex;
        padding: 50px 150px;
        background-color: $dark-violet;
        position: relative;
        margin-top: -150px;
        justify-content: center;
        align-items: center;
        gap: 50px;

        & > div {
            flex-grow: 1;

            input {
                padding: 10px;
                width: 100%;
            }
        }
    }

    .linkItem {
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 10px 20px;
        align-items: center;
    }
}
