/*#region Defaults*/

* {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: $grayish-violet;
    padding: 0;
    margin: 0;
  }
  
  button {
    cursor: pointer;
    background-color: rgba($cyan, 0.8);
    border-radius: 20px;
    color: #fff;
    border: none;
    outline: none;  
    padding: 10px 30px;
    font-weight: 800;
  
    &:hover {
      background-color: $cyan;
    }
  }
  
  a {
    cursor: pointer;
    font-weight: 800;
    color: $grayish-violet;
  
    &:hover {
      color: $very-dark-violet;
    }
  }
  
  h1 {
    font-size: clamp(2.5rem, 3.5vw, 8rem);
    font-weight: 800;
    line-height: 1.2;
    color: $very-dark-violet;
  }
  
  h2 {
    font-size: clamp(1rem, 1.3vw, 2.5rem);
  }
  
  /*#endregion*/


  /*#region Sections*/

  section {
    min-height: 100vh;
    background: #eff1f7;
    text-align: center;
    box-sizing: border-box;
    padding: 100px 50px;

    .title {
      max-width: 500px;
      color: $very-dark-violet;
      font-size: 2rem;
      font-weight: 800;
      margin: 0 auto 50px;
    }
  }

  /*#endregion*/